body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Dosis', sans-serif;
    background-color: #E5E5E5;
    color: #707070;
    text-transform: lowercase;
  }
  
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .content {
    width: 1000px; 
    height: 500px; 
    background-color: #f1f1f1; 
    padding: 0px; 
    text-align: center; 
    position: relative;
    box-shadow: 1px 1px 2px #dfdfdf;
  }
  
  nav {
    position: absolute; 
    top: -40px; 
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  }
  
  nav ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
  }
  
  nav ul li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  nav ul li a {
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none; 
    font-weight: bold;
    color: #707070;
    line-height: 40px;
    transition: .2s all;
    border-bottom: 2px solid transparent;
  }
  
  nav ul li a:hover {
      border-bottom: 5px solid #90CACA;
      transition: .2s all;
  }


  .work-experience {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin: 40px;
    text-transform: lowercase;
    letter-spacing: 2px;
  }

  .work-experience h2{
    color: #90CACA;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .work-item {
    margin-bottom: 15px;
  }

  .work-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .work-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .work-header h3 {
    margin: 0;
  }
  
  .work-date {
    text-align: right;
    margin: 0;
    font-style: italic;
    font-size: 15px;
  }

  .work-description {
    text-align: left;
  }